.textarea {
    border-radius: 10px;
    padding: 10px;
    resize: none;
}

.formControl.error input,
.formControl.error textarea {
    border: solid 2px red
}

.formControl.error span {
    color: red
}

.formSummaryError {
    color: red;
    padding: 5px
}



