.item {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;
    background-color: #edeef0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #dddddd;
}

.item img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
  }

.item link {
    display: block;
    color: black;
    border-radius: 10px;
    flex-grow: 1;
}


