.header {
    grid-area: h;
    background-color: darkblue;
}

.header img {
    width: 50px;
    margin: 10px 10px;
}

.loginBlock {
    float: right;
    margin: 10px 10px;
    color: yellow;
    font-size: larger;
}

.loginBlock a{
    text-decoration: none;
    font-size: large;
    color: white;
}